.btn,
input[type="submit"],
input[type="reset"] {
  display: inline-flex;
  padding: $button_padding;
  font-size: $button_font_size;
  font-weight: $button_font_weight;
  line-height: $button_line_height;
  border: $button_border_width $button_border_style transparent;
  border-radius: $button_border_radius;
  text-transform: $button_text_transform;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: .25px;
  white-space: nowrap;
  user-select: none;
  transition: all ease-out .2s;
  touch-action: manipulation;
  justify-content: space-between;

  &.btn--small {
    font-size: $button_small_font_size;
    padding: $button_small_padding;
  }
}

.btn--primary {
  &,
  &.btn--filled {
    @include button($button_primary_color, 'filled');
  }

  &.btn--bordered {
    @include button($button_primary_color, 'bordered');
  }
}

.btn--secondary {
  &,
  &.btn--filled {
    @include button($button_secondary_color, 'filled');
  }

  &.btn--bordered {
    @include button($button_secondary_color, 'bordered');
  }
}