// Grid styles
$fluid_variants: 2, 3, 4, 6;

$fluid_types: (
  'xs': 1,
  'sm': 2,
  'md': 3,
  'lg': 4
);

.row {
  margin-left: -$spacer;
  margin-right: -$spacer;
  display: flex;
  flex-flow: row wrap;

  @each $variant in $fluid_variants {
    @each $code, $count in $fluid_types {
      &.row--fluid-#{$variant} {
        .column {
          @include media($code) {
            @if $variant == 3 {
              @if $count != 4 {
                flex: 1 0 (100% / $count);
              }
            } @else if $variant == 2 {
              @if $count != 4 and $count != 3 {
                flex: 1 0 (100% / $count);
              }
            } @else if $variant == 6 {
              @if $code == 'md' {
                flex: 1 0 (100% / 4);
              } @else if $code == 'lg' {
                flex: 1 0 (100% / 6);
              } @else {
                flex: 1 0 (100% / $count);
              }
            } @else {
              flex: 1 0 (100% / $count);
            }
          }
        }
      }
    }
  }
}

.column {
  display: flex;
  padding-left: $spacer;
  padding-right: $spacer;
}

.row,
.column {
  margin-bottom: $spacer_big;
}

$columns_count: 12;

@each $code, $breakpoint in $media_breakpoints {
  @include media($code) {
    @for $i from 1 through $columns_count {
      .column--#{$code}-#{$i} {
        width: (100% / $columns_count * $i);
      }
      .column--#{$code}-offset-#{$i} {
        margin-left: (100% / $columns_count * $i);
      } 
      .column--#{$code}-outset-#{$i} {
        margin-right: (100% / $columns_count * $i);
      } 
    }
  }
}