.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 33.333333%;
  height: 100%;
  z-index: 3;
  min-width: $spacer_big * 12.5;
  box-shadow: 0 0 ($spacer / 1.25) rgba(0, 0, 0, .1);
  background-color: #fff;
  transition: all ease-out .5s;

  &,
  & ul {
    list-style: none;
    padding: 0;
  }

  &.is-active {
    left: 0;
  }

  @include media(sm) {
    position: relative;
    top: initial;
    left: initial;
    width: auto;
    height: auto;
    z-index: auto;
    min-width: auto;
    box-shadow: none;
    background-color: transparent;
    transition: all ease-out 0s;

    &,
    & ul {
      list-style: initial;
      padding: inherit;
    }
  }
}

.mobile-menu__item {
  margin-bottom: 0;

  @include media(sm) {
    margin-bottom: inherit;
  }
}

.mobile-menu__link {
  padding: ($spacer / 1.25) ($spacer * 1.25);
  display: block;
  font-size: $font_size - 1;
  color: $text_color;
  font-weight: 500;

  &:hover {
    background-color: lighten($gray_color, 42.5%);
  }

  @include media(sm) {
    padding: inherit;
    display: inherit;
    font-size: inherit;
    color: $link_color;
    font-weight: inherit;
  }
}

.mobile-menu__btn {
  width: $spacer_big * 1.25;
  height: $spacer_big * 1.25;
  border: 0;
  background-color: transparent;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: relative;

  &:focus {
    outline: 0;
  }
  
  &.is-active {
    .mobile-menu__line {
      background-color: transparent;

      &:before {
        transform: rotate(45deg);
        margin-top: -1px;
      }

      &:after {
        transform: rotate(-45deg);
        margin-top: -1px;
      }
    }
  }

  @include media(sm) {
    display: none;
  }
}

.mobile-menu__line {
  width: 100%;
  height: 2px;
  background-color: $text_color;

  &:before,
  &:after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: $text_color;
    position: absolute;
    transition: all ease-out .2s;
  }

  &:before {
    top: 50%;
    left: 0;
    margin-top: -9px;
  }

  &:after {
    top: 50%;
    left: 0;
    margin-top: 7px;
  }

  
}