// Button settings
$button_font_size: $font_size - 4;
$button_font_weight: 400;
$button_font_family: $font_family;
$button_line_height: $line_height;
$button_padding: ($spacer/ 2) $spacer;
$button_border_width: $spacer / 8;
$button_border_style: solid;
$button_border_radius: $spacer / 4;
$button_text_transform: uppercase;
$button_filled_text_color: #fff;

// Button small settings
$button_small_font_size: $font_size - 6;
$button_small_padding: ($spacer/ 2 - 2) ($spacer - 2);

// Button color
$button_primary_color: $primary_color;
$button_secondary_color: $secondary_color;

// Button types

@mixin button($style, $type) {
  @if $type == 'filled' {
    background-color: $style;
    color: $button_filled_text_color;

    &:hover,
    &:active {
      background-color: darken($style, 10%);
      color: darken($button_filled_text_color, 10%)
    }
  } @else if $type == 'bordered' {
    border-color: $style;
    background-color: inherit;
    color: $style;

    &:hover,
    &:active {
      border-color: darken($style, 10%);
      color: darken($style, 10%)
    }
  }
}