// Main colors
$primary_color: #f3826f;
$secondary_color: #2d3561;
$additional_color: #ffb961;

// Text colors
$text_color: #242124;
$link_color: $primary_color;
$heading-color: $text_color;
$button_color: $secondary_color;
$gray_color: #888;

// Background colors
$body_color: #fff;