// Font sizes
$font_size: 16px;
$font_size_h1: $font_size * 2;
$font_size_h2: $font_size * 1.665;
$font_size_h3: $font_size * 1.42;
$font_size_h4: $font_size * 1.175;
$font_size_h5: $font_size * .95;
$font_size_h6: $font_size * .75;

// Font weight
$font_weight: 400;
$font_weight_heading: 600;

// Line height
$line_height: 1.5;

// Font family
$font_family: 'Roboto', sans-serif;;
$font_family_heading: 'Roboto', sans-serif;;